[Unit]
Description=CS425 group project
[Service]
ExecStart=npm start
Restart=always
User=nogroup
Group=classproject
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/opt/classproject

[Install]
WantedBy=multi-user.target
