doctype html
html(lang="en")
    head
        title="Change password"
    body
        h1 Change your password
        form(action="change_password",method="POST")
            | Old password: 
            input(type="text",name="oldPassword")
            br
            | New password: 
            input(type="Password",name="password1")
            br
            | New password (repeat): 
            input(type="Password",name="password2")
            br
            input(type="submit",value="Submit")
