doctype html
html(lang="en")
	body
	form(action="process_login",method = "POST")
		| User  Name: 
		input(type="text",name="Username")
		br
		| Password: 
		input(type="Password",name="password")
		br
		input(type="submit",value="Submit")
